<ion-header>
  <ion-navbar>
    <i class="fa fa-angle-left fa-lg" (click)="goBack()"></i>
    <span class="page-title">Inbox</span>
  </ion-navbar>
</ion-header>

<ion-content >
  <!-- <span [ngClass]="[membersList ? 'hidden' : 'visible']"> Inbox is empty </span> -->

    <h5 *ngIf="hasNoData"> Your inbox is empty </h5>

    <ion-list id="inbox-list">

      <ion-item *ngFor="let member of membersList;" tappable (click)="viewMessage(member.user_id[0],member.business_id[0])">

        <span [ngClass]="[member.last_chat.length != 0 && member.last_chat[0].is_read == false && member.last_chat[0].message_by === 'member' ? 'new' : '']" class="name" *ngIf="member.user_id[0] && member.user_id[0].last_name && member.user_id[0].first_name"> {{member.user_id[0].first_name}} {{member.user_id[0].last_name}}</span>

        <span [ngClass]="[member.last_chat.length != 0 && member.last_chat[0].is_read == false && member.last_chat[0].message_by === 'member' ? 'new' : '']" class="name" *ngIf="member.user_id[0] && member.user_id[0].first_name && member.user_id[0].last_name == ' '"> {{member.user_id[0].first_name}} </span>

        <span [ngClass]="[member.last_chat.length != 0 && member.last_chat[0].is_read == false && member.last_chat[0].message_by === 'member' ? 'new' : '']" class="name" *ngIf="member.user_id[0] && member.user_id[0].last_name && member.user_id[0].first_name == ' '"> {{member.user_id[0].last_name}} </span>

        <span [ngClass]="[member.last_chat.length != 0 && member.last_chat[0].is_read == false && member.last_chat[0].message_by === 'member' ? 'new' : '']" class="name" *ngIf="member.user_id[0] && member.user_id[0].first_name == ' ' && !member.user_id[0].last_name == ' ' "> {{ member.user_id[0].number }} </span>

        <span class="name" *ngIf="member.user_id && member.user_id.length == 0"> No Member Data </span>

        <p [ngClass]="[member.last_chat.length != 0 && member.last_chat[0].is_read == false && member.last_chat[0].message_by === 'member' ? 'new' : '']" class="message" *ngIf="member.last_chat.length != 0"> {{ member.last_chat[0].message  }}  </p>

        <span [ngClass]="[member.last_chat.length != 0 && member.last_chat[0].is_read == false && member.last_chat[0].message_by === 'member' ? 'new' : '']" class="date-time" *ngIf="member.last_chat.length != 0">  {{formatEpoch(member.last_chat[0].epoch)}} </span>

      </ion-item>

      <span class="fa fa-spinner fa-spin loader"></span>

    </ion-list>

</ion-content>
